@font-face {
    font-family: Oranienbaum-Regular;
    src: url("fonts/Oranienbaum-Regular.ttf");
}

@font-face {
    font-family: Prata-Regular;
    src: url("fonts/Prata-Regular.ttf");
}

h1,h2,h3, .navbar {
  font-family: Prata-Regular;
}

body {
  --background-color: white;
  font-family: Roboto, sans-serif;
  background: var(--background-color);
  transition: background-color 1s ease;
}

body.case-colors {
  --background-color:#FDF8F7;
    background: linear-gradient(0deg,#dacdff 1%, #ffeaee 20%, #ffeaee 30%,  #fdf5ee 70%,  #fdf5ee 80%,#FDF8F7 90%),#FDF8F7;
    background-color: #FDF8F7;
}



.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}

.color-violet {
    background-color: #7A4EAB;
}

h1 {
  font-size: 3.5rem;
}

#xwork {
    padding-top: 8px;
    padding-bottom: 100px;
}


.row.main-content-row, .row.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row.case-navigation {
    padding-top: 70px;
    font-style: normal;
    color: black;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-gol{
    text-align: center;
}

.flex-gor{
    text-align: center;
}

.flex-gor, .flex-gol{
    padding: 7px;
    flex: 50%;
    font-size: 35px;
    text-align: center;
    color: black;
    font-weight: 500;
    line-height: 120%;
}
.flex-gor:hover, .flex-gol:hover{
    color: pink;
    font-weight: 400;
    line-height: 120%;
    font-size: 36px;
}

@media (max-width: 600px) {
    .flex-gor, .flex-gol {
        flex: 100%;
        font-size: 30px;
        text-align: center;
    }

}

.c-footer{
    position: relative;
    z-index: 10;
}

.c-footer-contain{
     margin: 0 auto;
 }



@media (min-width: 992px){
    .c-footer-title {
        font-size: 64px;
        letter-spacing: -2px;
    }
}

.c-footer__title {
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -1.5px;
    color: #232320;
    position: relative;
    z-index: 100;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.c-footer-text{
    margin-top: 1em;
    font-size: 18px;
    line-height: 32px;
    color: #3E373D ;
    position: relative;
    z-index: 100;
    text-align: center;
}
@media (min-width: 992px) {
    .c-footer-contain {
        padding: 14em 0;
        max-width: 790px;
    }
}

@media (min-width: 768px) {
    .u-bot {
        display: block !important;
    }
}

.c-footer-link {
    text-emphasis-color: black;
    color: black;
    display: inline-block;
    transition: none;
    text-decoration-line: underline;
    text-decoration-color: pink;
    text-decoration-thickness:3px;
}

.c-footer-link, .c-footer-link span{
    position: relative;
    z-index: 10;
}

.c-footer-link:hover {
    transition: all .2s ease-in-out;
    text-decoration-thickness:5px;
    font-size: 20px;
    font-weight: 500;
}

.c-footer-link {
    color: #656270;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.navbar {
    padding-bottom: 32px;
    background: var(--background-color);
    z-index: 10;
}
.navbar-nav  {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-brand, .navbar-brand:hover {
    font-family: Oranienbaum-Regular;
    font-size: 45px;
    z-index: 20;
    width: 130px;
    height: 110px;
    padding-left: 24px;
    padding-top: 14px;
    position: fixed;
    color: black;
    line-height: 45px;
}

.navbar-brand .logo-text {
    font-family: Prata-Regular;
    font-size: 12px;
    margin-left: -13px;
}
.navbar-expand-sm .navbar-nav {
    min-width: 610px
}

.navbar .container-fluid, .footer .container, .main-content {
    max-width: 870px;
}


@media (max-width: 600px)  {
    .flex-technologies {
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}

.navbar-toggler {
    margin-top:23px;
}

.nav .dropdown-menu {
    display:block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.show .navbar-nav, .collapsing .navbar-nav  {
    padding-right: 4px;
}

.navbar-toggler {
    background: var(--background-color);
}

.show .nav-item, .collapsing .nav-item {
    margin-left: auto;
}

.navbar .nav-link {
    background: var(--background-color);
    box-shadow: var(--background-color) 0px 0px 7px 9px;
    border-radius: 20px;
}
.work {
    padding-top: 130px;
}

.nav-link:hover{
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-offset: 2px;
    color: black;
    text-underline-offset: 8px;
    text-underline-position: 2px;
    text-decoration-thickness:3px;
}

.xwork{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.xwork a.fadedbox{
    background-color: #666666;
    position: absolute;
    top: 0px;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity:0;
    width: 100%;
    height: 100%;
    padding: 130px 20px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.xwork:hover .fadedbox {
    opacity: 0.8;
}

.xwork .fadedtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}

.fadedtitle{
    margin-top: 60px;
}

.xwork .fadedtitle {
    font-size: 5em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}


.xwork:hover .fadedtitle,
.xwork:focus .fadedtitle {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.main-content {
    padding-top:0px;
    padding-bottom: 100px;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main-content img {
    width: 100%;
}

.footer .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form {
    margin-top: 45px;
}

.contact-form span {
    line-height: 45px;
}

.contact-form input, .contact-form textarea {
    font-size: 13px;
    font-weight: bold;
    transition: border 0.6s;
    outline: none;
}

.contact-form input {
    border: none;
    border-bottom: #333 2px solid;
    width: 200px;
}
.contact-form textarea {
    border: #CCC 1px dashed;
}

.contact-form input:focus {
    border-bottom: #CCC 2px solid;
}

.contact-form textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: #CCC 1px solid;
}

.contact-form ::placeholder {
    color: #BBB;
}

.contact-form .mb-3 {
    margin-bottom: 3.5rem
}

.technology-icon {
    text-decoration: none;
    color: darkslategray;
    font-size: 40px;
    column-width: auto;
    border:2px;
    border-color: transparent;
    border-widh: 2px;
    border-style: solid;
    position: absolute;
    text-align: center;
}

.flex-technologies{
    display: flex;
}

.flex-technologies-container{
    border-widh: 1px;
    position: relative;
    height: 140px;
    width: 125px;
    border-style: solid;
    border-color: transparent;
    display: flex;
}

.flex-hub-container{
    border-widh: 1px;
    position: relative;
    height: 140px;
    width: 125px;
    border-style: solid;
    border-color: transparent;
    display: flex;

}


.title-technology-icon{
    color: transparent;
    font-weight: bold;
    font-size: 10px;
    column-width: auto;
    text-align: center;
    margin-left: 6px;
    width: 100%;
    position: absolute;
}

.technology-icon .fa-brands {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    font-style: normal;
    font-size: 65px;
    width: 94px;
    height: 94px;
    color: #3b243d;
    position: absolute;
    margin-left: 16px;
    margin-top: 23px;
}

.flex-technologies-container:hover .title-technology-icon{
    color: pink;
    transform: scale(1.2,1.2);
}


.flex-technologies-container:hover .technology-icon .fa-brands {
    color: pink;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    transform: scale(1.2,1.2);
    border-radius: 100px;
    transition: 200ms step-start;
}

.github-link {
    text-decoration: none;
}

.ql-align-center {
    text-align: center;
}

#hide{
    display: none;
}


.github-link .fa-brands {
    font-style: normal;
    color: darkslategray;
    font-size: 25px;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 12px;
}

.github-link .fa-brands:hover {
    text-decoration: none;
    font-size:27px;
    transition: 200ms ease-out;
    color: hotpink;
    border-style: solid;
    border-width: 2px;
    border-color: hotpink;
    border-radius: 100px;
}

.launch-text .external-link {
    text-align: right;
    text-decoration: none;
    color:black;
    font-size: 12px;
    line-height: 1;
    padding: 0px;
}

.launch-text:hover .external-link:hover {
    transition: 200ms ease-out;
    color:hotpink;
}

.external-link .bi-box-arrow-up-right{
    font-style: normal;
    color: darkslategray;
    font-size: 25px;
}

.external-link .bi-box-arrow-up-right:hover {
    text-decoration: none;
    transition: 200ms ease-out;
    color: hotpink;
}

.prev, a:link, a:visited, a:active {
    color: #120111;
    transition: all,ls, ease-in;
    transition-duration: 100ms;
}


.prev, a:hover{
    color: darkslategray;
}


.h4-casenav{
    font-style: normal;
    color: black;
    font-size: 20px;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 12px;
}


@supports (backdrop-filter: blur()) {
    .footer .col div {
        backdrop-filter: blur(1.5px);
    }
}

@supports not (backdrop-filter: blur()) {
    .footer .col div {
        background: var(--background-color);
    }
}

