.menu {
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  font-size: 3.5rem;
}

.row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar-nav  {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-expand-sm .navbar-nav {
    min-width: 610px
}

.show .ms-auto-show, .collapsing .ms-auto-show {
    margin-left: auto;
}

.navbar .container-fluid, .footer .container, .main-content {
    max-width: 870px;
}


button.navbar-toggler.nav>li>a.dropdown-toggle {

    display: none;
}


.nav .dropdown-menu {
    display:block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.main-content {
  padding-top: 170px;
  padding-bottom: 100px;
}