@font-face {
    font-family: Oranienbaum-Regular;
    src: url("fonts/Oranienbaum-Regular.ttf");
}

@font-face {
    font-family: Prata-Regular;
    src: url("fonts/Prata-Regular.ttf");
}

h1,h2,h3, .navbar {
  font-family: Prata-Regular;
}

body {
  --background-color: white;
  font-family: Roboto, sans-serif;
  background: var(--background-color);
}

body.case-page {
    --background-color:transparent;
    background: linear-gradient(6deg,rgba(170,205,255,0),#dacdff 30%,rgba(218,205,255,0) 50%,#dacdff 70%,rgba(218,205,255,0) 90%),#ffeaee;
}


h1 {
  font-size: 3.5rem;
}

#xwork {
    padding-top: 8px;
    padding-bottom: 100px;
}

.row.main-content-row, .row.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row.case-navigation {
    padding-top: 70px;
    font-style: normal;
    color: black;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-gol{
    text-align: center;
}

.flex-gor{
    text-align: center;
}

.flex-gor, .flex-gol{
    padding: 7px;
    flex: 50%;
    font-size: 35px;
    text-align: center;
    color: black;
    font-weight: 500;
    line-height: 120%;
}
.flex-gor:hover, .flex-gol:hover{
    color: pink;
    font-weight: 400;
    line-height: 120%;
    font-size: 36px;
}

@media (max-width: 600px) {
    .flex-gor, .flex-gol {
        flex: 100%;
        font-size: 30px;
        text-align: center;
    }
    .flex-gol.h4 {
        text-align: left;

    }
    .flex-gor.h4{
        text-align: left;

    }
}

.c-footer{
    position: relative;
    z-index: 10;
}

.c-footer-contain{
     margin: 0 auto;
 }



@media (min-width: 992px){
    .c-footer-title {
        font-size: 64px;
        letter-spacing: -2px;
    }
}

.c-footer__title {
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -1.5px;
    color: #232320;
    position: relative;
    z-index: 100;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.c-footer-text{
    margin-top: 1em;
    font-size: 18px;
    line-height: 32px;
    color: #656270;
    position: relative;
    z-index: 100;
    text-align: center;
}
@media (min-width: 992px) {
    .c-footer-contain {
        padding: 14em 0;
        max-width: 790px;
    }
}

@media (min-width: 768px) {
    .u-bot {
        display: block !important;
    }
}

.c-footer-link {
    text-emphasis-color: black;
    color: black;
    display: inline-block;
    transition: none;
    text-decoration-line: underline;
    text-decoration-color: pink;
    text-decoration-thickness:3px;
}

.c-footer-link, .c-footer-link span{
    position: relative;
    z-index: 10;
}

.c-footer-link:hover {
    transition: all .2s ease-in-out;
    text-decoration-thickness:5px;
    font-size: 20px;
    font-weight: 500;
}

.c-footer-link {
    color: #656270;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.navbar {
    padding-bottom: 40px;
    background: var(--background-color);
    z-index: 10;
}
.navbar-nav  {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-brand .logo-text {
    font-family: Prata-Regular;
    font-size: 15px;
    position: fixed;
    margin-top: calc(var(--base-padding)- var(--top-counter));
    right: var(--base-padding-lr);
    z-index: 53;
    --base-padding: 13px;
    --base-padding-lr: 18px;
    --top-counter: 2px;
    margin-top: 12px;
}



.navbar .container-fluid, .footer .container, .main-content {
    max-width: 870px;
}


@media (max-width: 600px)  {
    .flex-technologies {
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}

.navbar-toggler {
    margin-top:30px;
}


.nav .dropdown-menu {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar-toggler {
    background: var(--background-color);
}


.navbar .nav-link {
    background: var(--background-color);
    box-shadow: var(--background-color) 0px 0px 7px 9px;
    border-radius: 20px;
}

.button-menu{
    position: fixed;
    margin-top: calc(var(--base-padding) - var(--top-counter));
    right: var(--base-padding-lr);
    z-index: 53;
    --base-padding: 14px;
    --base-padding-lr: 18px;
    --top-counter: 2px;
    margin-top: 620px;
    padding-top: 10px;
}

.button-contact{
    position: fixed;
    margin-top: calc(var(--base-padding) - var(--top-counter));
    z-index: 53;
    --base-padding: 14px;
    --base-padding-lr: 3x;
    margin-left: 18px;
    margin-top: 630px;
}

.button-work{
    position: fixed;
    margin-top: calc(var(--base-padding) - var(--top-counter));
    z-index: 53;
    --base-padding: 14px;
    --base-padding-lr: 3x;
    margin-left: 18px;
    margin-top: 12px;
}


.video {
    padding-top: 130px;
}


.main-content {
    padding-top:0px;
    padding-bottom: 100px;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main-content img {
    width: 100%;
}

.footer .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form {
    margin-top: 45px;
}

.contact-form span {
    line-height: 45px;
}

.contact-form input, .contact-form textarea {
    font-size: 13px;
    font-weight: bold;
    transition: border 0.6s;
    outline: none;
}

.contact-form input {
    border: none;
    border-bottom: #333 2px solid;
    width: 200px;
}
.contact-form textarea {
    border: #CCC 1px dashed;
}

.contact-form input:focus {
    border-bottom: #CCC 2px solid;
}

.contact-form textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: #CCC 1px solid;
}

.contact-form ::placeholder {
    color: #BBB;
}

.contact-form .mb-3 {
    margin-bottom: 3.5rem
}

.technology-icon {
    text-decoration: none;
    color: darkslategray;
    font-size: 40px;
    column-width: auto;
    border:2px;
    border-color: transparent;
    border-widh: 2px;
    border-style: solid;
    position: absolute;
    text-align: center;
}

.flex-technologies{
    display: flex;
}

.flex-technologies-container{
    border-widh: 1px;
    position: relative;
    height: 140px;
    width: 125px;
    border-style: solid;
    border-color: transparent;
    display: flex;
}

.flex-hub-container{
    border-widh: 1px;
    position: relative;
    height: 140px;
    width: 125px;
    border-style: solid;
    border-color: transparent;
    display: flex;

}


.title-technology-icon{
    color: transparent;
    font-weight: bold;
    font-size: 10px;
    column-width: auto;
    text-align: center;
    width: 100%;
    position: absolute;
}

.technology-icon .fa-brands {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    font-style: normal;
    font-size: 65px;
    width: 94px;
    height: 94px;
    color: darkslategray;
    position: absolute;
    margin-left: 16px;
    margin-top: 23px;
}

.flex-technologies-container:hover .title-technology-icon{
    color: pink;
    transform: scale(1.2,1.2);
}


.flex-technologies-container:hover .technology-icon .fa-brands {
    color: pink;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    transform: scale(1.2,1.2);
    border-radius: 100px;
    transition: 200ms step-start;
}

.github-link {
    text-decoration: none;
}

.ql-align-center {
    text-align: center;
}

.github-link .fa-brands {
    font-style: normal;
    color: darkslategray;
    font-size: 25px;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 12px;
}

.github-link .fa-brands:hover {
    text-decoration: none;
    font-size:27px;
    transition: 200ms ease-out;
    color: pink;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    border-radius: 100px;
}


.prev, a:link, a:visited, a:active {
    color: #120111;
    transition: all,ls, ease-in;
    transition-duration: 100ms;
}


.prev, a:hover{
    color: darkslategray;
}


.h4-casenav{
    font-style: normal;
    color: black;
    font-size: 20px;
    column-width: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 12px;
}


@supports (backdrop-filter: blur()) {
    .footer .col div {
        backdrop-filter: blur(1.5px);
    }
}

@supports not (backdrop-filter: blur()) {
    .footer .col div {
        background: var(--background-color);
    }
}
