@font-face {
    font-family: Oranienbaum-Regular;
    src: url("fonts/Oranienbaum-Regular.ttf");
}

@font-face {
    font-family: Prata-Regular;
    src: url("fonts/Prata-Regular.ttf");
}

h1,h2,h3, .navbar {
    font-family: Prata-Regular;
}

body {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 3.5rem;
}

.row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
    padding-bottom: 40px;
    background-color: white;
    z-index: 10;
}
.navbar-nav  {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-brand, .navbar-brand:hover {
    font-family: Oranienbaum-Regular;
    font-size: 61px;
    z-index: 20;
    width: 70px;
    height: 29px;
    padding-left: 25px;
    padding-top: 29px;
    position: fixed;
    color: black;
    line-height: 45px;

}

.navbar-brand .logo-text {
    font-family: Prata-Regular;
    font-size: 12px;
    margin-left: -5px;
}
.navbar-expand-sm .navbar-nav {
    min-width: 610px
}

.navbar .container-fluid, .footer .container, .main-content {
    max-width: 870px;
}

.navbar-toggler {
    margin-top:30px;
}

.nav .dropdown-menu {
    display:block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.show .nav-item, .collapsing .nav-item {
    margin-left: auto;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main-content img {
    width: 100%;
}

.footer .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form {
    margin-top: 45px;
}

.contact-form span {
    line-height: 45px;
}

.contact-form input, .contact-form textarea {
    font-size: 13px;
    font-weight: bold;
    transition: border 0.6s;
    outline: none;
}

.contact-form input {
    border: none;
    border-bottom: #333 2px solid;
    width: 200px;
}
.contact-form textarea {
    border: #CCC 1px dashed;
}

.contact-form input:focus {
    border-bottom: #CCC 2px solid;
}

.contact-form textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: #CCC 1px solid;
}

.contact-form ::placeholder {
    color: #BBB;
}

.contact-form .mb-3 {
    margin-bottom: 3.5 rem
}

@supports (backdrop-filter: blur()) {
    .footer .col div {
        backdrop-filter: blur(1.5px);
    }
}

@supports not (backdrop-filter: blur()) {
    .footer .col div {
        background: white;
    }
}
