.menu {
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  font-size: 3.5rem;
}

.row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
    padding-bottom: 40px;
    background-color: white;
    z-index: 10;
}
.navbar-nav  {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    z-index: 20;
    width: 70px;
    height: 70px;
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
}

.navbar-expand-sm .navbar-nav {
    min-width: 610px
}

.navbar .container-fluid, .footer .container, .main-content {
    max-width: 870px;
}

.navbar-toggler {
    margin-top:30px;
}

.nav .dropdown-menu {
    display:block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.show .nav-item, .collapsing .nav-item {
    margin-left: auto;
}

.main-content {
    padding-top: 100px;
}

.main-content img {
    width: 100%;
}

.footer {
    background-color: white;
}
.footer .row {
    padding-top: 20px;
    padding-bottom: 20px;
}
