<div class="row" height="100px">
  <div class="col">
    <h6 style="margin: 0px 0px 30px 4px;
    color:darkslategrey;
    font-weight: 400;">Hi! My name is: </h6>
    <h1 style="margin: 0px;font-size: clamp(40px, 8vw, 80px); font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;">Clara van Opdorp &</h1>
    </br>
    <h1 style="margin-top: 10px;
    color: #8892b0;
    line-height: 0.9;">I build things for the web.</h1>
    <div style="margin-top: 20px margin: 20px 0px 0px;
    max-width: 540px;">I’m a Full stack developer and business analyst. I Build digital experiences. Currently focus on Freelance Projects.
    </div>
    </br>
    <h6>I enjoy creating things that live on the internet.
      My interest in web development started back in 2020 when I was updating my business skills by learning python. — Turns out that learning how to access web data, fundamental programming concepts, data structures, networked application program interfaces and databases was just the begin.</br>
      </br>This introduced me to an infinite world of possibilities that I wanted to be part of. Finding coding fun and creative, I learned Html, Javascript, CSS and react while building some cool projects.</br>
      </br>
      I’m an Industrial Engineer with a decade of experience designing interdisciplinary systems and processes. The more mathematical and technical side of my background has always interested me most.
      Through the years, I’ve taught myself artificial intelligence. Now I work as a freelance software engineer.

    </br>
    </br>
    <h4>Values<h4>
    <div>

      <h6>
        </br>Passion:When it comes to solutions, I believe in mixing the power of emotions and the data that drives them, translating your needs to functional and optimized solutions that fit your goals, market, and wishes.</br>
        </br>Transparency:It's essential to share data, keep an open channel with my clients, and use feedback to direct the process as smoothly and cleanly as possible. I value kindness and honesty in relationships with others.</br>
        </br>Flexibility:I like flexibility in thinking, approaching challenges, and adapting to my client's work style and needs. I work with effective processes to achieve precise planning and prioritization. I love a challenge and am always learning new technologies.</br>
        </br>Agile:By tracking and doing usability testing, we find the best layout and content for your project. We continuously iterate, going through the stages of defining requirements, developing, and gathering feedback. This way, the project always keeps heading in the right direction.</br>
        </br>Freedom:I choose my own projects and enjoy the entrepreneurial spirit, creativity, and autonomy to tackle interesting problems in the best way. I'm open and curious, and enjoy learning and sharing with people from different cultures, disciplines, backgrounds, and customs.
      </h6>
    </div>
      </br>

      <h2>
        Here are a few technologies I’ve been working with recently:
      </h2>

      </br>
    {% include "tech_icons_about.jinja2" %}



    <footer class="c-footer">
      <div class="c-footer contain" style="padding-top: 180px; text-align: center">
        <h3 class="c-footer-title">I occasionally take on freelance opportunities.</h3>
        <p class="c-footer-text">Have an exciting project where you need some help?
          <span class="u-bot"> Send me over a message, and
           <a href="contact.jinja2" class="c-footer-link">
             <span> <a href="/contact" target="_blank" >let's chat</a></span>
           </a>
           .
         </span>
        </p>
      </div>
    </footer>

  </div>
</div>

