<div class="row" height="100px">
  <div class="col">
    <h1 style="margin-bottom: 25px">
      {{ view.case.title }}
      <a href="{{ view.case.github_url }}" target="_blank" class="github-link"><i
          class="fa-brands center fa-github"></i></a>
    </h1>
    {% for item in view.work_sections %}
      {% if item.reference %}
        <h5 style="margin-bottom: 30px; color:gray">{{ item.reference }}</h5>
        <br/>
      {% endif %}
      {% if item.photo %}
        {% if item.url %}
          <a href="{{ view.item.url }}" target="_blank">
            <img src="/media/{{ item.photo }}" alt="" style="margin-bottom: 25px"/>
          </a>
        {% else %}
          <img src="/media/{{ item.photo }}" alt="" style="margin-bottom: 25px"/>
        {% endif %}

      {% endif %}
      {% if item.feet %}
        <h6 style="margin-bottom: 40px; text-align: center; font-size: 15px; color:grey;">{{ item.feet }}</h6>
        <br/>
      {% endif %}
      <div style="margin-bottom: 50px" class="case-html-content">{{ item.content.html|safe }}</div>
    {% endfor %}
    {% include "tech_icons.jinja2" %}


      <div class="rl" style="margin-top: 70px; padding: 5px; justify-items: center; text-align: center;">
        <div class="container d-flex justify-content-center " style="display: flex;
  flex-wrap: wrap; border-style: solid; background-color: #FDF8F7; border: 4px solid #fdf5ee; padding: 1.5em; max-width: 95%; margin: 0 auto; border-radius: 20px;">
          <div class="flex-gol" >
              {% if view.prev_case %}
                <h4 style="text-align: center; font-size: 14px;LINE-HEIGHT: 3;font-size: 14px; FONT-WEIGHT: 600;COLOR: GRAY;"> PREV
                  <a class="box" href="/work/{{ view.prev_case.title }}"><div class="flex-gol">{{ view.prev_case.title }}
                  </div></a>
                </h4>
              {% endif %}
            </div>
          <div class="flex-gor" >
              {% if view.next_case %}
                <h4 style="text-align: center; font-size: 14px;LINE-HEIGHT: 3;font-size: 14px; FONT-WEIGHT: 600;COLOR: GRAY;" > NEXT
                  <a href="/work/{{ view.next_case.title }}"><div class="flex-gor">{{ view.next_case.title }}
                  </div></a>
                </h4>
              {% endif %}
            </div>
        </div>

      </div>
   <footer class="c-footer">
     <div class="c-footer contain" style="padding-top: 180px; text-align: center">
       <h3 class="c-footer-title">I occasionally take on freelance opportunities.</h3>
       <p class="c-footer-text">Have an exciting project where you need some help?
         <span class="u-bot"> Send me over a message, and
           <a href="contact.jinja2" class="c-footer-link">
             <span>  let's chat</span>
           </a>
           .
         </span>
       </p>
     </div>
   </footer>
  </div>
</div>
