<div class="row">
  <div class="col">
    <h2>{{ view.case.title }}</h2>
    {% for item in view.work_sections %}
      <h6>{{ item.reference }}</h6>
      <br/>
      {% if item.photo %}
        <img src="/media/{{ item.photo }}" alt=""/>
      {% endif %}
      <h6>{{ item.feet }}</h6>
      <br/>
      {{ item.content.html|safe }}
      <br/>
    {% endfor %}
    {% for item in view.tech_icons %}
      <h2>{{ item.content }}</h2>
    {% endfor %}
  </div>
</div>
