<div class="row" height="100px">
  <div class="col">
    <h1 style="margin-bottom: 25px">{{ view.case.title }}</h1>
    <a href="{{ view.case.github_url }}" target="_blank" class="github-icons-icon"><i class="fa-brands center fa-github"></i></a>
    {% for item in view.work_sections %}
      {%  if item.reference %}
        <h5 style="margin-bottom: 30px; color:gray">{{ item.reference }}</h5>
        <br/>
      {% endif %}
      {% if item.photo %}
        {% if item.url %}
          <a href="{{view.item.url}}" target="_blank">
            <img src="/media/{{ item.photo }}" alt="" style="margin-bottom: 25px" />
          </a>
        {% else %}
          <img src="/media/{{ item.photo }}" alt="" style="margin-bottom: 25px" />
        {% endif %}

      {% endif %}
      {%  if item.feet %}
      <h6 style="margin-bottom: 40px; text-align: center">{{ item.feet }}</h6>
      <br/>
      {% endif %}
      <div style="margin-bottom: 40px">{{ item.content.html|safe }}</div>
    {% endfor %}
    {% include "tech_icons.jinja2"%}
  </div>
</div>
