<html>

<h1> Hi {{ full_name }},</h1>
<br>
<h3> Nice to meet you!</h3>
<p>
  This is Clara van Opdorp, here we create brilliant experiences that helps you get the best from your ideas and business by <developing></developing> websites that suits your needs and market.
  <br/>
  Thanks for reaching out, I'm looking forward to having a look at your proposal.
  <br/>
  As soon as I've read through it, I'll contact you.
</p>
<img>
<img src="https://live.staticflickr.com/5167/5340309206_e592a0c4c3_b.jpg" width="100%">
</body>
</html>