<div class="footer fixed-bottom">
  <div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col mr-auto"></div>
{% for footer_section in view.footer_sections %}
        <div class="col">
            <div>
                {{ footer_section.content|safe }}
            </div>
        </div>
{% endfor %}
    </div>
  </div>
</div>
