<nav class="navbar navbar-light navbar-expand-md fixed-top menu">

  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="/static/web/favicon.png" alt="logo" width=70 height=70>
    </a>

    <div class="collapse navbar-collapse show" id="menu">
      <ul class="navbar-nav">
      {% for page in view.menu_pages %}
        <li class="nav-item ms-auto-show">
          <a class="nav-link {% if view.current_page.path == page.path %} active{% endif %}" href="{{page.path}}">{{page.title}}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>