{% for page in view.menu_pages %}
  <a class=" {% if view.current_page.path == page.path %} active{% endif %}" href="/{{page.path}}">
    <div class="button-menu"><span>{{page.title}}</span>
    </div></a>
{% endfor %}

<a class="{% if view.page_path == 'contact' %} active{% endif %}" href="/contact">
  <div class="button-contact"><span>Contact</span>
  </div></a>


<a class="{% if view.page_path == 'work' %} active{% endif %}" href="/work">
  <div class="button-work"><span>Work</span>
  </div></a>

<a class="navbar-brand "  href="/home">
  <div class="logo-text">Home</div>
</a>
