<div class="container d-flex justify-content-center" style="display: flex; margin-top: -50px;">
  <div class="flex-technologies">
    {% for icon in view.tech_icons %}
        <div class="flex-technologies-container">
        <div> <h6 class="title-technology-icon">{{ icon.title }}</h6>
          <a href="{{ icon.url }}" target="_blank" class="technology-icon"><i class="fa-brands center {{ icon.icon_class }}"></i></a>
        </div>
        </div>
    {% endfor %}
  </div>
</div>

