
  <div class="container d-flex justify-content-center">
  <div class="row technologies" style="margin-top:-30px;">
    {% for icon in view.tech_icons %}
      <div class="col" >
        <h6 STYLE="color:grey" class="title-technology-icon">{{ icon.title }}</h6>
        <a href="{{ icon.url }}" target="_blank" class="technology-icon"><i class="fa-brands center {{ icon.icon_class }}"></i></a>
      </div>
    {% endfor %}
  </div>
  </div>

